* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #f4f8ff;
}

.navbar {
    background: white;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 25px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    gap: 20px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.search-bar {
    flex: 1;
    padding: 10px 15px;
    border-radius: 25px;
    border: 1px solid #ddd;
}

.nav-right {
    display: flex;
    gap: 15px;
    align-items: center;
}

.nav-btn {
    background: #e7eaff;
    padding: 8px 15px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.user-circle {
    background: #7b5cff;
    color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* PROFILE  */
.profile-container {
    display: flex;
    gap: 30px;
    padding: 40px;
}



.profile-card {
    width: 30%;
    background: white;
    padding: 25px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.profile-img-box img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 15px;
}

.username {
    font-size: 24px;
    margin-top: 10px;
}

.user-tag {
    color: #666;
    margin-bottom: 20px;
}

.info-box p {
    margin: 8px 0;
    color: #555;
}

.info-box i {
    margin-right: 10px;
    color: #325DFF;
}

.edit-btn {
    margin-top: 20px;
    background: #4d7bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.details-card {
    width: 70%;
    background: white;
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.details-card h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 12px 0;
    border-bottom: 1px solid #eee;
}

.detail-row span {
    color: #325DFF;
    font-weight: 600;
}

.status.active {
    color: green;
    font-weight: bold;
}

.settings {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.setting-btn {
    padding: 10px 15px;
    border-radius: 12px;
    background: #e8ecff;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.logout-btn {
    background: #ff4d4d;
    color: white;
    padding: 10px 15px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}
